<div id="field-details-list-div">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <!-- Field Name -->
        <mat-panel-title>{{ "dataType name" }}</mat-panel-title>

        <button mat-raised-button color="primary" (click)="this.editField($event)">Edit</button>
        <button mat-raised-button color="warn" (click)="this.removeField($event)">Remove</button>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Comment</mat-label>
        <input type="text" matInput disabled value="">
      </mat-form-field>


      <!-- Getter - Setter - Init Details -->
      <mat-accordion multi="true">
        <!-- Getter Details -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Getter</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field>
            <mat-label>Getter Name</mat-label>
            <input type="text" matInput disabled="" value="">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Attributes</mat-label>
            <textarea matInput disabled="" value=""></textarea>
          </mat-form-field>
        </mat-expansion-panel>

        <!-- Setter Details -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Setter</mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field>
            <mat-label>Setter Name</mat-label>
            <input type="text" matInput disabled="" value="dkjfhas">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Attributes</mat-label>
            <textarea matInput disabled="" value="ajaja"></textarea>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-expansion-panel>
  </mat-accordion>
</div>
