.field-details-content-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header-div {
  display: flex;
  justify-content: center;
}

#constructor-button-toggle-div {
  display: flex;
  justify-content: center;
}
