<form id="csharp-field-details-form" [formGroup]="formGroup">
  <!-- Contains the basic details needed for field -->
  <mat-card>
    <mat-card-subtitle>
      <div class="header-div">
        <h3>Field Details</h3>
      </div>
    </mat-card-subtitle>

    <div id="main-field-details-div">
      <!-- Field Name -->
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <!-- Field Data Type -->
      <mat-form-field>
        <mat-label>Data Type</mat-label>
        <input matInput type="text" formControlName="dataType">
      </mat-form-field>

      <!-- Field Access Modifier Button Group -->
      <mat-card>
        <mat-card-subtitle>
          <div class="header-div">
            <h4>Field Access Modifier</h4>
          </div>
        </mat-card-subtitle>
        <mat-card-content>
          <mat-button-toggle-group formControlName="accessModifier">
            <!-- Public -->
            <mat-button-toggle value="public" [checked]="this.fieldAccessModifierButtons.publicField"
              (click)="this.toggleFieldAccessModifier('public')">public
            </mat-button-toggle>
            <mat-button-toggle value="private" [checked]="this.fieldAccessModifierButtons.privateField"
              (click)="this.toggleFieldAccessModifier('private')">private
            </mat-button-toggle>
            <mat-button-toggle value="protected" [checked]="this.fieldAccessModifierButtons.protectedField"
              (click)="this.toggleFieldAccessModifier('protected')">protected
            </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-content>
      </mat-card>

      <!-- Whether to include the field in the constructor -->
      <mat-card>
        <mat-card-subtitle>
          <div class="header-div">
            <h4>Initialize in Constructor?</h4>
          </div>
        </mat-card-subtitle>

        <mat-card-content>
          <div id="constructor-button-toggle-div">
            <mat-button-toggle-group>
              <mat-button-toggle [checked]="this.isConstructorParam" (click)="this.toggleConstructorParam()">Yes
              </mat-button-toggle>
              <mat-button-toggle [checked]="!this.isConstructorParam" (click)="this.toggleConstructorParam()">No
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
  <br>

  <!-- Whether to configure property and accessors -->
  <div class="csharp-form-buttons-div">
    <button type="button" class="csharp-field-details-form-button" mat-raised-button
      [color]="this.propertyConfigButtonColor" (click)="this.togglePropertyConfig($event)"
      matTooltip="Add/remove property and accessors" matTooltipPosition="right" class="csharp-form-buttons">
      Configure Property
    </button>
  </div>

  <!-- Property Configurator -->
  <mat-card *ngIf="this.showPropertyConfig">
    <div id="property-config-div" formGroupName="propertyForm">
      <!-- Property Name Field -->
      <mat-form-field>
        <mat-label>Property Name</mat-label>
        <input type="text" matInput formControlName="propertyName">
      </mat-form-field>

      <!-- Property Type (virtual / abstract) -->
      <mat-button-toggle-group formControlName="propertyType">
        <mat-button-toggle [checked]="this.propertyTypeButtons.virtualButton" value="virtual"
          (click)="this.togglePropertyType('virtual')">virtual
        </mat-button-toggle>
        <mat-button-toggle [checked]="this.propertyTypeButtons.abstractButton" value="abstract"
          (click)="this.togglePropertyType('abstract')">abstract
        </mat-button-toggle>
      </mat-button-toggle-group>

      <!-- Property Attributes -->
      <div class="attributes-div">
        <mat-form-field>
          <mat-label>Property Attributes</mat-label>
          <textarea matInput formControlName="propertyAttributes"></textarea>
        </mat-form-field>
      </div>

      <!-- Property Access Modifier Button Group -->
      <mat-card>
        <mat-card-subtitle>Property Access Modifier</mat-card-subtitle>
        <mat-card-content>
          <mat-button-toggle-group formControlName="propertyAccessModifier">
            <mat-button-toggle value="public" (click)="this.togglePropertyAccessModifier('public')"
              [checked]="this.propertyAccessModifierButtons.publicProperty">public
            </mat-button-toggle>
            <mat-button-toggle value="private" (click)="this.togglePropertyAccessModifier('private')"
              [checked]="this.propertyAccessModifierButtons.privateProperty">private
            </mat-button-toggle>
            <mat-button-toggle value="protected" (click)="this.togglePropertyAccessModifier('protected')"
              [checked]="this.propertyAccessModifierButtons.protectedProperty">protected
            </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-content>
      </mat-card>

      <!-- Property Accessors -->
      <div id="getter-setter-init-button-group-div">
        <!-- Buttons for selecting the getter, setter and init -->
        <mat-button-toggle [checked]="this.isGetterEnabled" (click)="this.toggleGetter()">Getter
        </mat-button-toggle>
        <mat-button-toggle [checked]="this.isSetterEnabled" (click)="this.toggleSetter()">Setter
        </mat-button-toggle>
        <mat-button-toggle [checked]="this.isInitEnabled" (click)="this.toggleInitializer()">Init
        </mat-button-toggle>
      </div>

      <!-- Accessor Accordion -->
      <mat-accordion multi="true">
        <!-- Getter -->
        <mat-expansion-panel *ngIf="this.isGetterEnabled" [expanded]="this.isGetterEnabled">
          <mat-expansion-panel-header>
            <mat-panel-title>Getter</mat-panel-title>
          </mat-expansion-panel-header>


          <div class="attributes-div">
            <mat-form-field>
              <mat-label>Attributes</mat-label>
              <textarea matInput formControlName="getterAttributes"></textarea>
            </mat-form-field>
          </div>


        </mat-expansion-panel>

        <!-- Setter -->
        <mat-expansion-panel *ngIf="this.isSetterEnabled" [expanded]="this.isSetterEnabled">
          <mat-expansion-panel-header>
            <mat-panel-title>Setter</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="attributes-div">
            <mat-form-field>
              <mat-label>Attributes</mat-label>
              <textarea matInput formControlName="setterAttributes"></textarea>
            </mat-form-field>
          </div>

        </mat-expansion-panel>

        <!-- Initializer -->
        <mat-expansion-panel *ngIf="this.isInitEnabled" [expanded]="this.isInitEnabled">
          <mat-expansion-panel-header>
            <mat-panel-title>Initializer</mat-panel-title>
          </mat-expansion-panel-header>

          <div class="attributes-div">
            <mat-form-field>
              <mat-label>Attributes</mat-label>
              <textarea matInput formControlName="initializerAttributes"></textarea>
            </mat-form-field>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card>

  <!-- Extra Details Configurator -->
  <div class="csharp-form-buttons-div">
    <button type="button" class="csharp-field-details-form-button" mat-raised-button
      [color]="this.extraConfigButtonColor" (click)="this.toggleExtraConfig()"
      matTooltip="Add/remove field comment, attributes and default value" matTooltipPosition="right"
      class="csharp-form-buttons">More...</button>
  </div>

  <mat-card *ngIf="this.showExtraConfig">
    <div id="extra-config-div" formGroupName="extraDetailsForm">
      <!-- Default Value -->
      <mat-form-field>
        <mat-label>Default Value</mat-label>
        <input type="text" matInput formControlName="defaultValue">
      </mat-form-field>

      <!-- Field Comment -->
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <input matInput type="text" formControlName="comment">
      </mat-form-field>

      <!-- Field Attributes -->
      <div class="attributes-div">
        <mat-form-field>
          <mat-label>Field Attributes</mat-label>
          <textarea matInput formControlName="fieldAttributes"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card>

  <!-- Add field button -->
  <div class="csharp-form-buttons-div">
    <button id="add-field-button" class="csharp-field-details-form-button" (click)="onAddField()" type="button"
      mat-flat-button color="primary" matTooltip="Add field" matTooltipPosition="right" class="csharp-form-buttons">
      Add Field
    </button>
  </div>
</form>
