<div id="parent">
  <div id="class-details-div">
    Class Details

    <!--
      Buttons that let you select the programming
      language
     -->
    <div id="language-selection-buttons-div">
      <button type="button" mat-raised-button color="primary"
        (click)="this.createFieldDetailsFormComponent('csharp')">Csharp</button>

      <button type="button" mat-raised-button color="primary"
        (click)="this.createFieldDetailsFormComponent('typescript')">TypeScript</button>
    </div>

    <ng-template appClassDetailsFormHost></ng-template>
  </div>

  <div id="field-details-form-div">
    <div id="scroll-container">
      <!--
        Container for field details form component
        rendered dynamically
      -->
      <ng-template appFieldDetailsFormHost></ng-template>
    </div>
  </div>

  <div id="field-details-list-div">
    Field Details List
    <ng-template appFieldDetailsListHost></ng-template>
  </div>
</div>
