#parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  height: calc(100vh - 8vh);
  overflow-y: scroll;

  /* border: 1px solid black; */
}

#field-details-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px red; */
}

#scroll-container {
  margin: auto;
  max-height: calc(100vh - 8vh);
  overflow: auto;

  /* border: 1px solid black; */

  /*
        Makes the scroll container
        wide enough so the form UI doesn't feel
        too slim
     */
  width: 100%;
}

#class-details-div {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  /* border: 1px solid red; */
}

#field-details-list-div {
  overflow-y: scroll;
  /* border: 2px solid black; */
  padding: 10px;
}

#language-selection-buttons-div {
  display: flex;
  flex-direction: column;

  /* border: 4px solid black; */
}

mat-progress-spinner {
  z-index: 9;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 2;

  backdrop-filter: blur(2px);

  border: 1px solid green;

  display: flex;
  align-items: center;
  justify-content: center;
}

mat-drawer {
  width: 20%;
}

.language-button {
  width: 50%;

  margin: auto;
  padding: 10px;
  margin-top: 10px;
}

#website-background-div {
  border: 1px solid black;
  display: flex;

  align-items: center;
  justify-content: center;

  background-image: url("../assets/WebsiteBackground.jpeg");

  height: calc(100vh - 8vh);

  z-index: 9;
}
