#parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  max-height: 100vh;
  height: 100vh;
}

#class-details-div {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
