<mat-card>
  <div id="csharp-class-details-header-div">
    <mat-card-header>
      <mat-card-subtitle>
        <h3>Class Details</h3>
      </mat-card-subtitle>
    </mat-card-header>
  </div>

  <mat-card-content>
    <form id="csharp-class-details-form-div" [formGroup]="this.formGroup">
      <!-- Data Class Name -->
      <mat-form-field>
        <mat-label>Class Name</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>

      <!-- Data Class Namespace -->
      <mat-form-field>
        <mat-label>Namespace</mat-label>
        <input type="text" matInput formControlName="namespace">
      </mat-form-field>

      <!-- Class Attributes -->
      <mat-form-field>
        <mat-label>Class Attributes</mat-label>
        <textarea matInput formControlName="classAttributes"></textarea>
      </mat-form-field>

      <button type="button" mat-raised-button color="primary" (click)="this.gennerateClass()">Generate C# Class</button>
    </form>
  </mat-card-content>
</mat-card>
